@using EntityLayer.Concrete
@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<h1>Kullanıcı Listesi</h1>
<br />

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Kullanıcı Adı</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Düzenle</th>
        <th>Yorumlar</th>
        <th>Tur Geçmişi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @{sayac = sayac + 1;}
            <td>@sayac</td>
            <td>@item.Name @item.Surname</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td><a class="btn btn-outline-danger" href="javascript:void(0);" onclick="DeleteUser(@item.Id)">Sil</a></td>
            @*<td><a href="/Admin/User/DeleteUser/@item.Id" class="btn btn-outline-danger">Sil</a></td>*@
            <td><a href="/Admin/User/UpdateUser/@item.Id" class="btn btn-outline-success">Düzenle</a></td>
            <td><a href="/Admin/User/CommentUser/@item.Id" class="btn btn-outline-info">Yorumlar</a></td>
            <td><a href="/Admin/User/ReservationUser/@item.Id" class="btn btn-outline-primary">Tur Geçmişi</a></td>
        </tr>
    }
</table>

<a href="/Login/SignUp/" class="btn btn-outline-primary">Yeni Kullanıcı Ekle</a>


<script>
    const DeleteUser = id => {if(confirm("Silmek istediğinize emin misiniz ? ")) window.location.href="/Admin/User/DeleteUser/"+id;}
</script>