@using EntityLayer.Concrete
@model List<Reservation>

@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Geçmiş Rezervasyonlar</h2>

@if (!Model.Any())
{
    <div>
        <p class="text-center" style="color:crimson">Geçmiş rezervasyonunuz bulunmamaktadır..</p>
    </div>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Lokasyon</th>
            <th>Kişi Sayısı</th>
            <th>Rezervasyon Tarihi</th>
            <th>Durum</th>

            @foreach (var item in Model)
            {
            <tr>
                <td>@item.ReservationId</td>
                <td>@item.Destination.City</td>
                <td>@item.PersonCount</td>
                <td>@item.ReservationDate</td>
                <td>@item.Status</td>
            </tr>
            }
        </tr>
    </table>
}



